@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />

<nav class="navigation">
    <h1>Contract Monthly Claim System</h1>
    <a href="@Url.Action("Dashboard","Home")">Home</a>
  

    <a href="@Url.Action("LogIn","Home")"><i class="fa-solid fa-user"></i>Log In</a>
    <a href="@Url.Action("Register", "Home")"><i class="fa-solid fa-user"></i>Register</a>
</nav>



