
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />

<nav class="navigation">
    <h1>Contract Monthly Claim System</h1>
    <a href="@Url.Action("Dashboard","Home")">Log Out</a>
  
</nav>



