@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
@Html.Partial("_NavigationBars")

<div class="heading">

    <h1>Contact Us</h1>
    <p>Have queries or want to know more please fill out the following</p>
</div>

<form method="post" class="Contact_Form">


    <label>Name: </label>
    <input placeholder="Enter your name" required/>

    <label>Last Name: </label>
    <input placeholder="Enter your Last name" required />


    <label>Email Address: </label>
    <input type="email" placeholder="Enter your email" required />




</form>