@{
    var name = Context.Session.GetString("EmployeeName");
    var lastname = Context.Session.GetString("EmployeeSurname");
    var empNum = Context.Session.GetInt32("EmpoyeeNum");
}

<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
@Html.Partial("_NavigationBars")
<!--The pc dahsboard content-->

<div class="pcMessage">
    <h2>Welcome, @name @lastname!</h2>
    <p>Your Employee Number: @empNum</p>

    <p>
        As a Programme Coordinator, your role is key in ensuring smooth and accurate claim approvals.
        Here you can review submissions from lecturers, check supporting documents,
        and pre-approve claims before they are sent for the final review by the Academic Manager.
    </p>

    <p>
        Use this dashboard to stay organized, track pending approvals, and maintain transparency in the claiming process.
        Your input helps speed up processing times and ensures lecturers are fairly compensated for their work.
    </p>

    <div class="pc-actions">
        <button class="view-claims-btn">
            <a href="@Url.Action("ViewandPreApprove", "Users")">View and Pre approve Claims</a>
        </button>
    </div>
</div>
<footer class="Mysite-footer">
    <p>&copy; 2025 My Website. All rights reserved.</p>
</footer>