@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
@Html.Partial("_NavigationBars")

<!-- View Claim History Section -->
<div class="Content_View">
    <h3>Claim History</h3>
    <p>Below is a summary of all your submitted claims, including status.</p>
    <div class="back_link" >
        <a href="@Url.Action("Lecture", "Users")" >
            &larr; Back to Lecturer Dashboard
        </a>
    </div>
    <table class="history_table">
        <thead>
            <tr>
                <th>Claim ID</th>
                <th>Module</th>
                <th>Number of Sessions</th>
                <th>Date Submitted</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>C101</td>
                <td>Programming 1A</td>
                <td>5</td>
                <td>25 April 2025</td>
                <td>Approved</td>
            </tr>
            <tr>
                <td>C102</td>
                <td>Web Development</td>
                <td>3</td>
                <td>05 June 2025</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>C103</td>
                <td>IT Project Management</td>
                <td>4</td>
                <td>12 July 2025</td>
                <td>Rejected</td>
            </tr>
        </tbody>
    </table>
</div>

<!--Custom divider code-->
<div class="custom-shape-divider-bottom-1757286662">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
    </svg>
</div>

<footer class="site-footer">
    <p>&copy; 2025 My Website. All rights reserved.</p>
</footer>
